:root {
    font-size: 20px;
    color: rgb(0, 0, 0);
	font-family: 'Lora', serif;
	--main-color: #212529;
}
a {
	text-decoration: none;
}
/* main-wrapper */
.main-wrapper {
	max-width: 1440px;
	min-height: 100vh;
	display: flex;
}
.login__main-wrapper, .register__main-wrapper {
	margin: 0 auto;
	position: relative;
}
/* img and onix logo*/
.img-wrapper::before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 40px;
	height: 50px;
	width: 100px;
	background: url(../img/onix-logo.svg) center no-repeat;
	background-size: contain;
}
.main-wrapper__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* form */
.form {
	font-size: 0.8rem;
}
.main-wrapper__form-wrapper {
	flex: 1 1 720px;
	box-sizing: border-box;
	padding: 0 1rem;
}
/* logo */
.logo{
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
	font-size: 2.3rem;
	line-height: 46px;
	letter-spacing: 5.5px;
	max-width: 440px;
	color: var(--main-color);
	display: block;
}
.form-wrapper__logo {
	margin: 124px auto 110px;
}
.form-wrapper__logo_margin_top {
	margin-top: 97px;
}
/* fieldset */
.form__fieldset-wrapper{
	max-width: 440px;
	margin: 0 auto;
}
.form-legend {
	font-weight: 700;
	font-size: 1.8rem;
	border: none;
	line-height: 44.8px;
	letter-spacing: 0.3px;
}
.fieldset-wrapper__form-legend {
	margin-bottom: 30px;
}
/* inputs */
.label {
	font-size: 0.7rem;
	line-height: 20px;
}
.input{
	font-size: 1.4rem;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	height: 48px;
	transition: 0.5s;
	padding-left: 5px;
}
.input:valid {
	box-shadow: inset 0 0 2px 1px green;
}
.input:focus {
	border: 1px solid #444444;
}
.fieldset-wrapper__input {
	margin: 10px auto 24px;
}
/* checkbox */
.fieldset-wrapper__remember-forgot-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 27px;
}
.fieldset-wrapper__checkbox-wrapper {
	display: flex;
	align-items: center;
}
.checkbox {
	width: 1rem;
	height: 1rem;
	margin-right: 18px;
}
.checkbox-wrapper__checkbox {
	margin-right: 18px;
}
/* buttons */
.button {
	display: block;
	background: #D4A373;
	color: #FFFFFF;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	height: 49px;
	font-weight: 700;
	transition: 0.4s;
}
.button:hover {
	background: #af7d4b;
}
.button_black:hover {
	background: #060606;
}
.form__button {
	margin-top: 18px;
}
.button_black {
	background-color: #343A40;
}
/* link */
.question {
	line-height: 24px;
}
.link-register__question{
	padding-right: 5px;
}
.form__link-wrapper{
	margin-top: 30px;
}
.link {
	font-size: 0.8rem;
	color: #D4A373;
}
.link:hover {
	text-decoration: underline;
}
/* ==========article list======= */
.header {
	border-bottom: 1px solid #E5E5E5;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 1;
}
.header__inner-wrapper {
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 20px 28px 40px;
}
/* logo */
.logo_font {
	line-height: 24px;
	font-size: 1rem;
	letter-spacing: 5px;
}
.logo_padding-top {
	padding-top: 4px;
}
/* header-links */
.header-link {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-decoration: none;
	color: #212529;
	border-bottom: 2px solid #d4a37300;
	letter-spacing: 0px;
	padding-bottom: 4px;
	transition: 0.4s;
}
.header-link:hover {
	border-bottom: 2px solid #D4A373;
}
.header__header-link {
	margin-right: 30px;
}
/* aricle-list */
.article-list {
	margin-top: 81px;
	font-family: 'Roboto', sans-serif;
}
.article-list__inner-wrapper {
	margin: 0px auto;
	max-width: 1440px;
	padding: 0px 40px 0px 40px;
}
/* article header */
.inner-wrapper__home-wrapper {
	padding: 19px 0 10px;
}
.home {
	color: #D4A373;
	font-size: 14px;
	line-height: 16.41px;
	transition: 0.4s;
}
.home:hover {
	color: #af7d4b;
}
.al {
	color: #212529;
	font-size: 24px;
	line-height: 28.13px;
	letter-spacing: 0.4px;
	margin-bottom: 21px;
}
/* search - add */
.inner-wrapper__search-add {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 29px;
}
.search-form {
	position: relative;
}
/* search */
.search {
	height: 37px;
	width: 260px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	font-size: 14px;
	line-height: 20px;
	padding-left: 43.5px;
	transition: 0.4s;
}
.icon-search {
	height: 19px;
	width: 19px;
	fill: #6C757D;
	transition: 0.4s;
}
.search-form__icon-search {
	position: absolute;
	top: 11px;
	left: 16px;
}
.search:focus + .search-form__icon-search {
	fill: #1878cb;
}
.search:focus {
	border: 1px solid #444444;
}
/* add button */
.button-add {
	display: block;
	padding: 10px 15px;
	background: #D4A373;
	border-radius: 5px;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	transition: 0.4s;
}
.button-add:hover {
	background: #af7d4b;
}
/* table */
.table{
	width: 100%;
}
.thead, .row-body{
	border-bottom: 1px solid #E5E5E5;
}
.th {
	font-size: 12px;
	line-height: 20px;
	color: #6C757D;
}
.thead__th {
	padding-bottom: 10px;
}
/* tbody */
.td {
	font-size: 16px;
	line-height: 24px;
	color: #495057;
	font-weight: 500;
}
.table__td {
	padding: 20px 0 20px;
}

/* action */
.icon-pencil, .icon-trash {
	width: 24px;
	height: 24px;
	fill: rgb(0, 0, 0);
	cursor: pointer;
	transition: 0.4s;
}
.icon-trash:hover {
	fill: rgb(167, 3, 3);
}
.icon-pencil:hover {
	fill: rgb(19, 160, 97);
}
/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */
