:root {
    font-size: 20px;
    color: rgb(0, 0, 0);
	font-family: 'Lora', serif;
	--main-color: #212529;
}
a {
	text-decoration: none;
}
/* main-wrapper */
.main-wrapper {
	max-width: 1440px;
	min-height: 100vh;
	display: flex;
}
.login__main-wrapper, .register__main-wrapper {
	margin: 0 auto;
	position: relative;
}
/* img and onix logo*/
.img-wrapper::before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 40px;
	height: 50px;
	width: 100px;
	background: url(../img/onix-logo.svg) center no-repeat;
	background-size: contain;
}
.main-wrapper__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* form */
.form {
	font-size: 0.8rem;
}
.main-wrapper__form-wrapper {
	flex: 1 1 720px;
	box-sizing: border-box;
	padding: 0 1rem;
}
/* logo */
.logo{
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
	font-size: 2.3rem;
	line-height: 46px;
	letter-spacing: 5.5px;
	max-width: 440px;
	color: var(--main-color);
	display: block;
}
.form-wrapper__logo {
	margin: 124px auto 110px;
}
.form-wrapper__logo_margin_top {
	margin-top: 97px;
}
/* fieldset */
.form__fieldset-wrapper{
	max-width: 440px;
	margin: 0 auto;
}
.form-legend {
	font-weight: 700;
	font-size: 1.8rem;
	border: none;
	line-height: 44.8px;
	letter-spacing: 0.3px;
}
.fieldset-wrapper__form-legend {
	margin-bottom: 30px;
}
/* inputs */
.label {
	font-size: 0.7rem;
	line-height: 20px;
}
.input{
	font-size: 1.4rem;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	height: 48px;
	transition: 0.5s;
	padding-left: 5px;
}
.input:valid {
	box-shadow: inset 0 0 2px 1px green;
}
.input:focus {
	border: 1px solid #444444;
}
.fieldset-wrapper__input {
	margin: 10px auto 24px;
}
/* checkbox */
.fieldset-wrapper__remember-forgot-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 27px;
}
.fieldset-wrapper__checkbox-wrapper {
	display: flex;
	align-items: center;
}
.checkbox {
	width: 1rem;
	height: 1rem;
	margin-right: 18px;
}
.checkbox-wrapper__checkbox {
	margin-right: 18px;
}
/* buttons */
.button {
	display: block;
	background: #D4A373;
	color: #FFFFFF;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	height: 49px;
	font-weight: 700;
	transition: 0.4s;
}
.button:hover {
	background: #af7d4b;
}
.button_black:hover {
	background: #060606;
}
.form__button {
	margin-top: 18px;
}
.button_black {
	background-color: #343A40;
}
/* link */
.question {
	line-height: 24px;
}
.link-register__question{
	padding-right: 5px;
}
.form__link-wrapper{
	margin-top: 30px;
}
.link {
	font-size: 0.8rem;
	color: #D4A373;
}
.link:hover {
	text-decoration: underline;
}
/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */
