@import '../sections/form-left.scss';

@import '../sections/form-right.scss';

.form {
	legend {
		@include font (700, 36px,45px);
		border: none;
		letter-spacing: 0.3px;
		margin-bottom: 30px;

		@media all and (max-width: $tablets-big) {
			font-size: 30px;
			text-align: center;
		}
	}

	.input {
		padding: 0 10px;
		border: solid 1px $border-stroke;
		margin: 10px 0 24px;

		&:valid {
			box-shadow: inset 0 0 2px 1px rgba(114, 173, 114, 0.607);
		}
		&:focus {
			border: 1px solid $focus-border;
		}
	}

	&__rf-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 26px;

		input {
			height: 20px;
			width: 20px;
			margin-right: 18px;

			@media all and (max-width: $tablets-big) {
				margin-right: 8px;
			}
		}
		
		span, a {
			font: 400 16px/24px $lora;
		}
		span {
			color: $back;
		}
		label {
			display: flex;
			align-items: center;
		}
	}

	.button {
		background: $links-btn-form;
		font: 700 16px/20px $lora;
		color: $button-font;
		border: none;
		cursor: pointer;

		&:hover {
			background: $main-btn-hover;
		}
	}

	.button_black {
		background: $google-bnt;
		margin-top: 20px;
		&:hover {
			background: $google-btn-hover;
		}
	}

	.links-wrapper {
		margin-top: 30px;
		color: $back;

		span {
			margin-right: 8px;
		}
	}
}
