@import '../sections/home/header.scss';

.hm-wrapper {
	max-width: 1440px;
	margin: 0 auto 100px;
	padding: 100px 70px 0;
	box-sizing: border-box;

	&__hm-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 37px;

		h2, a {
			color: $article-table;
		}
		h2 {
			@include font(700,36px,46px);
		}
		a {
			@include font(700,12px,7px);
			align-self:flex-end;
			transition: 0.4s;
			position: relative;

			&:hover {
				color: $back;
			}
			&:hover::before {
				width: 100%;
			}
			
			&::before {
				@extend %underline;
			}
		}
	}

	&__hm-footer{
		min-height: 600px;
		background: url(../img/footer_bg_image2x.jpg) center no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #FFFFFF;
		text-align: center;

		h2 {
			@include font(700,36px,46px);
			max-width: 530px;
			letter-spacing: 1px;
		}

		p {
			max-width: 420px;
		}
	}
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 310px);
	justify-content: center;
	gap: 52px 20px;
	@include font(400,12px,20px);
	color: $article-gray;

	img {
		margin-bottom: 13px;
	}

	h3 {
		margin: 13px 0;
	}

	a {
		@include font(700,18px,25px);
		color: $article-table;

		&:hover {
			text-decoration: underline;
		}
	}
}

@import '../sections/home/footer.scss';