a {
	text-decoration: none;
	@include transition(0.5s);
}
%underline {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 0%;
	background-color: $common-fc;
	@include transition(0.4s);
}
// form
input {
	height: 48px;
	@include box-sizing(border-box); 
	width: 100%;
	font-size: 24px;
	@include border-radius(5px);
	@include transition(0.5s);
}

.form {
	font: 400 16px/20px $lora;
	color: $common-fc;

	label {
		font: 400 14px/20px $lora;
	}

	a {
		color: $links-btn-form;
		&:hover {
			text-decoration: underline;
		}
	}
}
// article-list
.article-list {
	font: 400 16px $roboto;
}

// home
body {
	font: 400 12px/20px $lora;
}

.common-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
	justify-content: center;
	gap: 51px 20px;
	@include font(400,12px,20px);
	color: $article-gray;

	img {
		width: 100%;
		margin-bottom: 13px;
		@include border-radius(6px);
	}

	h3 {
		margin: 13px 0;
	}

	a {
		@include font(700,18px,25px);
		color: $article-table;
		letter-spacing: 0.3px;

		&:hover {
			text-decoration: underline;
		}
	}
}