a {
	text-decoration: none;
	@include transition(0.5s);
}
%underline {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 0%;
	background-color: $common-fc;
	@include transition(0.4s);
}
// form
input {
	height: 48px;
	@include box-sizing(border-box); 
	width: 100%;
	font-size: 24px;
	@include border-radius(5px);
	@include transition(0.5s);
}

.form {
	font: 400 16px/20px $lora;
	color: $common-fc;

	label {
		font: 400 14px/20px $lora;
	}

	a {
		color: $links-btn-form;
		&:hover {
			text-decoration: underline;
		}
	}
}
// article-list
.article-list {
	font: 400 16px $roboto;
}

// home
body {
	font: 400 12px/20px $lora;
}