$phones-dinosaur: 320px;
$phones: 375px;
$phones-big: 593px;
$tablets: 844px; 
$tablets-big: 991px;
$desktops: 1226px;
$full-hd: 1440px;

$common-fc: #212529;
$border-stroke: #E5E5E5;
$focus-border: #444444;
$links-btn-form: #D4A373;
$main-btn-hover: #af7d4b;
$google-bnt: #343A40;
$google-btn-hover: #060606;
$button-font: #FFFFFF;
$back: #000000;
$article-gray:#6C757D;
$article-table: #495057;
$icon-pencil: #6fad66;
$icon-trash: #d63e6b;
$home-logo: #F8F9FA;

$spartan: 'League Spartan', sans-serif;
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;