.home-header {
	position: relative;
	
	.header-wrapper {
		@extend .article-header;
		border: none;
		background: rgba(0, 0, 0, 0.208);
		backdrop-filter: blur(2px);

		.inner-wrapper--padding {
			padding: 27px 45px 27px 50px;

			@media all and (max-width: $phones) {
				padding: 27px 15px 27px 30px;
			}
		}

		.header-links {
			> a {
				font-size: 12px;
				color: $border-stroke;

				@media all and (max-width: $phones) {
					margin-right: 10px;
				}

				&:hover {
					color: $button-font;
					border-bottom: 2px solid $links-btn-form;
				}
			}
		}
		
		.home-logo {
			color: $home-logo;
			
			&::before {
				background: $home-logo;
			}
		}
	}
}

.content-wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 252px 0px 70px 70px;
	box-sizing: border-box;

	h1 {
		letter-spacing: 1px;
		@include font(700,36px,46px);
		max-width: 530px;
		color: $links-btn-form;

		@media all and (max-width: $phones) {
			font-size: 28px;
		}
	}

	@media all and (max-width: $phones) {
		padding: 172px 0px 70px 30px;
	}
}

.slider-wrapper {
	padding-top: 178px;
	display: flex;
	gap: 6px;

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	label {
		display: block;
		height: 8px;
		width: 8px;
		margin-right: 4px;
		background: $slide-dot;
		border-radius: 50%;
		transition: 1s;
		cursor: pointer;
	}
	
	.slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		transition: opacity 2s linear 0.3s;
	}

	.first {
		@include image-2x('../img/header_bg_image2x.jpg');
		@include image('../img/header_bg_image.jpg');

	}
	.second {
		@include image-2x('../img/footer_bg_image2x.jpg');
		@include image('../img/footer_bg_image.jpg');
	}
	.third {
		@include image-2x('../img/header_bg_image2x.jpg');
		@include image('../img/header_bg_image.jpg');
	}
	.one:checked + label, .two:checked + label, .three:checked + label{
		background: $button-font;
	}
	.one:checked ~ .first, .two:checked ~ .second, .three:checked ~ .third {
		opacity: 1;
	}
}