:root {
    font-size: 20px;
    color: rgb(0, 0, 0);
	font-family: 'Lora', sans-serif;
	--main-color: #212529;
}
a {
	text-decoration: none;
}
.login, .registration {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}
/* img and onix logo*/
.img-wrapper {
	flex: 50%;
	position: relative;
}
.onix::before {
	content: "";
	display: block;
	height: 50px;
	width: 100px;
	background: url(../img/onix-logo.svg) center no-repeat;
	background-size: contain;
	transition: 0.4s;
	opacity: 0.7;
}
.onix:hover::before {
	opacity: 1;
}
.img-wrapper__onix {
	position: absolute;
	bottom: 10px;
	left: 40px;
}
.img-wrapper__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
/* right side */
.login__form-wrapper, .registration__form-wrapper{
	flex: 50%;
	padding: 0 20px;
	box-sizing: border-box;
}
/* logo */
.logo a{
	font: 700 2.3rem/46px 'League Spartan', sans-serif;
	letter-spacing: 5.5px;
	color: var(--main-color);
	position: relative;
}
.logo a::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	height: 2px;
	width: 0%;
	background-color: #000000;
	transition: width 0.4s;
}
.logo a:hover::before {
	width: 95%;
}
.logo {
	max-width: 440px;
}
.form-wrapper__logo {
	margin: 124px auto 110px;
}
.form-wrapper__logo_margin_top {
	margin-top: 97px;
}
/* form */
.form {
	font-size: 0.8rem;
	max-width: 440px;
}
.form-wrapper__form {
	margin: 0 auto;
}
/* fieldset */
.form-legend {
	font-weight: 700;
	font-size: 1.8rem;
	border: none;
	line-height: 45px;
	letter-spacing: 0.3px;
}
.form__form-legend {
	margin-bottom: 30px;
}
/* inputs */
.label {
	font-size: 0.7rem;
	line-height: 20px;
}
.input{
	font-size: 1.4rem;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	height: 48px;
	transition: 0.5s;
	padding: 0 10px;
}
.input:valid {
	box-shadow: inset 0 0 2px 1px rgba(114, 173, 114, 0.607);
}
.input:focus {
	border: 1px solid #444444;
}
.fieldset-wrapper__input {
	margin: 10px auto 24px;
}
/* checkbox */
.fieldset-wrapper__remember-forgot-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 27px;
}
.fieldset-wrapper__checkbox-wrapper {
	display: flex;
	align-items: center;
}
.checkbox {
	width: 1rem;
	height: 1rem;
	margin-right: 18px;
}
.checkbox-wrapper__checkbox {
	margin-right: 18px;
}
/* buttons */
.button {
	display: block;
	background: #D4A373;
	color: #FFFFFF;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	height: 49px;
	font-weight: 700;
	transition: 0.4s;
}
.button:hover {
	background: #af7d4b;
}
.button_black:hover {
	background: #060606;
}
.form__button {
	margin-top: 18px;
}
.button_black {
	background-color: #343A40;
}
/* link */
.question {
	line-height: 24px;
}
.link-register__question{
	padding-right: 5px;
}
.form__link-wrapper{
	margin-top: 30px;
}
.link {
	font-size: 0.8rem;
	color: #D4A373;
}
.link:hover {
	text-decoration: underline;
}
/* ==================article list======================= */
.header {
	border-bottom: 1px solid #E5E5E5;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 1;
}
.header__inner-wrapper {
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 20px 28px 40px;
}
/* logo */
.logo_font a {
	line-height: 24px;
	font-size: 1rem;
	letter-spacing: 5px;
}
.logo_padding-top {
	padding-top: 4px;
}
/* header-links */
.header-link {
	display: inline-block;
	font: 700 14px/20px 'Lora', sans-serif;
	letter-spacing: 0.5px;
	text-decoration: none;
	color: #212529;
	border-bottom: 2px solid #d4a37300;
	padding-bottom: 4px;
	transition: 0.4s;
}
.header-link:hover {
	border-bottom: 2px solid #D4A373;
}
.header__header-link {
	margin-right: 24px;
}
/* aricle-list */
.article-list {
	margin-top: 81px;
	font-family: 'Roboto', sans-serif;
}
.article-list__inner-wrapper {
	margin: 0px auto;
	max-width: 1440px;
	padding: 0px 40px;
}
/* article header */
.inner-wrapper__home-wrapper {
	padding: 19px 0 10px;
}
.article-home{
	color: #D4A373;
	font-size: 14px;
	line-height: 16.40px;
	transition: 0.4s;
}
.article-home:hover {
	color: #af7d4b;
}
.al {
	color: #212529;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.4px;
	margin-bottom: 21px;
}
/* search - add */
.inner-wrapper__search-add {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 29px;
}
.search-form {
	position: relative;
	flex: 0 1 304px;
}
/* search */
.search {
	height: 37px;
	width: calc(100% - 44px) ;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	font-size: 14px;
	line-height: 20px;
	padding-left: 44px;
	transition: 0.4s;
}
.icon-search-glass {
	color: #6c757d;
	transition: 0.4s;
	position: absolute;
	top: 10px;
	left: 15px;
}
.search:focus + .icon-search-glass {
	color: #D4A373;
}
.search:focus {
	border: 1px solid #444444;
}
/* add button */
.button-add {
	display: block;
	padding: 10px 15px;
	background: #D4A373;
	border-radius: 5px;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	transition: 0.4s;
}
.button-add:hover {
	background: #af7d4b;
}
/* table */
.table{
	width: 100%;
}
.table tr{
	border-bottom: 1px solid #E5E5E5;
}
/* theade */
.table th {
	font-size: 12px;
	line-height: 15px;
	color: #6C757D;
	text-transform: uppercase;
	padding: 0 10px 10px 0;
	vertical-align: middle;
}
.table input {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
.table-image {
	width: 5%;
	text-align: start;
}
.table-title {
	width: 25%;
	text-align: start;
}
.table-author {
	width: 28%;
}
.table-last-modified {
	width: 8.2%;
}
.table-status {
	width: 20.8%;
}
.table-action {
	width: 8.5%;
}
/* tbody */
.table td {
	font-size: 16px;
	line-height: 24px;
	color: #495057;
	font-weight: 400;
	vertical-align: middle;
	padding: 20px 10px 20px 0;
}
.table td:nth-child(3){
	font-weight: 500;
}
.table td:not(.table td:nth-child(2), .table td:nth-child(3)) {
	text-align: center;
}
/* action-icons */
.icon-pencil, .icon-trash {
	transition: 0.4s;
	color: #000000;
	font-size: 24px;
}
.table td:last-child {
	display: flex;
	justify-content: space-evenly;
}
.icon-pencil:hover {
	color: rgb(19, 160, 97);
}
.icon-trash:hover {
	color: rgb(167, 3, 3);
}
/* ============================================== */
/* form */
@media all and (max-width: 832px) {
	.img-wrapper {
		display: none;
	}
	.form, .logo {
		max-width: 525px;
	}
	.logo {
		text-align: center;
	}
	.form-legend {
		font-size: 1.3rem;
		text-align: center;
	}
	.checkbox {
		margin-right: 7px;
	}
}



/* article-list */
@media all and (max-width: 991px) {
	.table {
		width: 991px;
	}
	.table-wrapper{
		overflow-y: hidden;
		overflow-x: scroll;
	}
	.article-list__inner-wrapper {
		padding: 0 20px;
	}
}
@media all and (max-width: 512px) {
	.search-form {
		width: 100%;
		flex: 1 1 100%;
	}
	.inner-wrapper__search-add {
		flex-direction: column;
	}
	.button-add {
		align-self: flex-end;
	}
	.al {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
/*  320px: динозавры;
	375px - мобильные устройства;
	565px - screen-xxs;
    767px: планшеты;
    901px: маленькие экраны, ноутбуки;
    1199px: большие экраны;
    1400px и больше —  очень большие экраны, телевизоры. */
