@import 'global/reset.scss';

@import 'global/runo-fonts.scss';

@import 'global/variables.scss';

@import 'global/common.scss';

@import 'global/mixins.scss';

@import 'pages/form.scss';

@import 'pages/article-page.scss';

@import 'pages/home.scss';